.navbar {
  background-color: rgba(0, 0, 0, 0.301);
  
}

.link-color {
    color: white;
}

.search-bar {
    margin-right: 20;
}

.submit-button {
  color: white !important; 
}

.custom-navbar {
  background-color: transparent;
}

.custom-navbar .form-control {
  background-color: transparent;
  color: white;
}

.mf-logo {
    font-size: 25px !important;
    font-weight: bold !important;
}

.search-bar {
  background-color: transparent;
  color: white;
}