.fav-movie{
    margin-bottom: 50px;
    
 
}

.remove-fav-button {
    margin-left: 10;
    margin-top: 10;
    margin-bottom: 30;
}

.form.label{
    background-color: white;
}

.content{
    align-content: center;
    margin: auto;
    padding: 10px;
    width: 100%;
    
}

.profile-font {
    color: white;
    margin-top: 30px; /* Adjust the value as needed */
}

.favorite-card {
    color: white;
}

