.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: Black;
  border: none;
  border-radius: 4px;
}

img {
  width: 60%
}

.movie-image {
  width: 60%;
  height: 60%;
  align-content: center;
  
}

.movie-view-container{
  align-content: center;
}

.movie-card{
  align-items: center;
}

.favorite-button{
  margin-left: 50px;
  margin-top: 10px;
}

/* .movie-card {

} */